fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
pydantic[email]
celery[redis]
flower
redis
python-multipart
python-dotenv
langchain
langchain-ollama
pymupdf
python-docx
pytesseract
Pillow
langdetect
lingua-language-detector
sentence-transformers
torch
transformers
pandas
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5.0.0
httpx
