fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
pydantic
celery[redis]
redis
python-multipart
python-dotenv
google-generativeai
pymupdf
python-docx
pytesseract
Pillow
langdetect
lingua-language-detector
sentence-transformers
torch
transformers
pandas
python-jose[cryptography]
passlib[bcrypt]
httpx
